/node_modules
/public/hot
/public/storage
/public/data
/public/result
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
problems/1000in1000.txt
problems/1000in1000.txt
problems/1000in1000.txt
problems/1000in1000.txt
problems/matrixMultiply.js
problems/MatrixTest.docx
problems/multiplicationResult.txt
problems/mutualFriends.zip
problems/New.txt
problems/random10in10.txt
problems/randomMatrix.js
problems/randomUserInfo.txt
problems/TenInTen.txt
problems/TenInThirty.txt
problems/10in10_10in30/TenInTen.txt
problems/10in10_10in30/TenInThirty.txt
problems/Hezar/Firstrandom.txt
problems/Hezar/multiplicationResult.txt
problems/Hezar/Secondrandom.txt
problems/matrix/1000in1000.txt
problems/matrix/matrixMultiply.js
problems/matrix/MatrixTest.docx
problems/matrix/multiplicationResult.txt
problems/matrix/random10in10.txt
problems/matrix/randomMatrix.js
problems/matrix/TenInTen.txt
problems/matrix/TenInThirty.txt
problems/matrix/10in10_10in30/TenInTen.txt
problems/matrix/10in10_10in30/TenInThirty.txt
problems/matrix/Hezar/Firstrandom.txt
problems/matrix/Hezar/multiplicationResult.txt
problems/matrix/Hezar/Secondrandom.txt
problems/matrix/SadInSisad/Firstrandom.txt
problems/matrix/SadInSisad/Secondrandom.txt
problems/mutualFriends/symettricMat.js
problems/mutualFriends/symettricMat.zip
problems/SadInSisad/Firstrandom.txt
problems/SadInSisad/Secondrandom.txt
public/results/mutualFriends/mutual20-1.txt
randomSymmetric.txt
problems/ML.txt
randomSymmetric.txt
